var new_comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$('#comments').prepend(new_comment);
console.log("comment id is %s", "<%= @comment.id %>");
console.log("comment is %s", "<%= @comment.body %>");
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();